<mat-card (click)="flip()" class="face" [@cardFlip]="!faceSide ? 'flipped' : 'faceUp'">
  <div class="pokemon-card">
    <div class="pokemon-name">{{pokemon.name}}</div>
    <div class="pokemon-image"><img
      src='{{pokemon.img}}' alt=""/>
    </div>
    <div class="pokemon-type">
      <div class="type-title">Type :</div>
      <div class="type-value" *ngFor="let type of pokemon.types">{{type}}</div>
    </div>
    <div class="pokemon-weight">
      <div class="weight-title">Weight :</div>
      <div class="weight-value">{{pokemon.weight}}kg</div>
    </div>
  </div>
</mat-card>
<mat-card (click)="flip()" class="back" [@cardFlip]="faceSide ? 'flipped' : 'faceUp'">
  <div class="pokemon-card">
    <div class="pokemon-name">{{pokemon.name}}</div>
    <div class="pokemon-image"><img
      src='{{pokemon.imgBack || pokemon.img}}' alt=""/>
    </div>
    <div class="pokemon-type">
      <div class="type-title">Type :</div>
      <div class="type-value" *ngFor="let type of pokemon.types">{{type}}</div>
    </div>
    <div class="pokemon-weight">
      <div class="weight-title">Weight :</div>
      <div class="weight-value">{{pokemon.weight}}kg</div>
    </div>
  </div>
</mat-card>
